<div class="contact">
    <md-subheader>Contact Me</md-subheader>

    <form class="contacting" ng-show="contact.attempt === 'notyet'" name="contactForm">
        <md-input-container class="md-accent">
            <label>Name</label>
            <input ng-model="contact.data.name" required>
        </md-input-container>

        <md-input-container class="md-accent">
            <label>Subject</label>
            <input ng-model="contact.data.subject" required>
        </md-input-container>

        <md-input-container class="md-block md-accent">
            <label>Message</label>
            <textarea ng-model="contact.data.message" rows="5" required></textarea>
        </md-input-container>

        <md-button class="md-accent" ng-click="contact.contact()">Contact Me</md-button>
    </form>
    
    <div class="contacted" ng-show="contact.attempt !== 'notyet'">
        <div class="loading" ng-show="contact.attempt === 'loading'">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        
        <div class="succeed" ng-show="contact.send_succeed">
            Thanks! I'll get back to you as soon as I can.
        </div>
        
        <div class="fail" ng-show="contact.send_fail">
            Oops! There was an error sending this email. Check if you are connected to the internet and try again.
        </div>
    </div>
</div>