// definitions
@keyframes slide-down-from-top-while-fading-in {
	from {
		margin-top: -10%;	
		opacity: 0;
	}
	to{
		margin-top: 0;
		opacity: 1;
	}
}

@keyframes fade-in-live-background {
	from {
		opacity: 0;
	}
	to{
		opacity: .5;
	}
}

@keyframes fade-in{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

// and then actually animate stuff
.header.sticky{
	animation: 1s slide-down-from-top-while-fading-in ease-in;
}
.header.expanded .inner-container{
	animation: 3s fade-in;
}
	#live-background{
		animation: 8s fade-in-live-background cubic-bezier(0.13, 0.52, 0.67, 0.17);
	}

h1, h2, h3, p{
	animation: 3s fade-in;
}
