$header-expanded-height: 65vh;
$header-expanded-min-height: 400px;

.header{
	align-items: center;
	display: flex;
	text-align: center;
	
	&.expanded{
		height: 65vh;
		min-height: 400px;
	}
	&.sticky{
		height: 80px;
		position: fixed;
		width: 100vw;
	}
	
	h1{
		width: 100%;
	}
	
	.inner-container{
		align-items: inherit;
		display: inherit;
		position: relative;
		text-align: inherit;
		width: 100%;
		height: 100%;
	}
}
	#live-background{
		position: absolute;
		top: 0;
		width: calc(100% - 20px); /* accounting for 10px margin on either side of the page */
		z-index: 10;
	}

	.header-placeholder{
		height: $header-expanded-height; // same height as .header
		min-height: $header-expanded-min-height;
		width: 100vw; // same width as .header
		
		&.hidden{
			display: none;
		}
		&.shown{
			display: block;
		}
	}

.content-background{
	padding: 10px;
}
	.content{
		padding: 60px 0 20px 0;
		margin-right: auto;
		margin-left: auto;
		max-width: 500px;
		width: 100%;
	}
		.projects-list{
			margin: 0;
			padding: 0;
			list-style: none;
		}