h1{
	font-size: 4em;
	text-align: center;
	
	@media (max-width: 650px){
		font-size: 3em;
	}
	@media (max-width: 460px){
		font-size: 2em;
	}
}
h2{
	font-size: 3em;
	text-align: center;
}
h3{
	font-size: 1.7em;
	text-align: center;
	margin-bottom: 8px;
}

p{
	font-family: 'Merriweather', serif;
	font-size: 1.2em;
	line-height: 1.6em;
	text-align: justify;
}

pre{
	font-family: "Source Code Pro", fixed;
}

.book-title{
	font-style: italic;
}

a{
	text-decoration: none;
	
	&:hover{
		text-decoration: underline;
	}
}