{% extends 'base.html' %}

{% block title %}{{ metadata.title[0] }}{% endblock %}
{% block page_content %}
    <article>
        <header>
            {% if metadata.image %}
                <img src="{{ metadata.image[0] }}">
            {% endif %}
            <h1>{{ metadata.title[0] }}</h1>
            <aside>
                {% if metadata.image_caption %}
                    <p>{{ metadata.image_caption[0] }}</p>
                {% endif %}
            </aside>
        </header>

        <div>
            {{ content }}
        </div>
    </article>
{% endblock %}
